body{
	background-image: radial-gradient(circle at 100% 0%, #fffed0 0, #fcf5cb 8.33%, #f6e9c5 16.67%, #ecdbbf 25%, #ddccb7 33.33%, #c9bbaf 41.67%, #b0a9a4 50%, #969899 58.33%, #7e898e 66.67%, #697d84 75%, #56747a 83.33%, #476c71 91.67%, #3c6769 100%);
}

.containerhp{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    

    height: 100vh;    

}

.gamehp {
	width: 60rem;
	height: 60rem;

    margin-top: 2rem;

	display: flex;
	flex-wrap: wrap;	
	position: relative;
}

.hp__title{
    font-size: 12rem;   
	margin-bottom: 0;
	margin-top: 2px;
}
.hp__title--footer{
    font-size: 4.8rem;
	margin-top: 10px;
}

.game__optionshp--input{
	width: 60%;
	height: 30%;
	margin-top: 17%;
	font-size: 1.6rem;
	font-weight: bold;

}


.game__pad{
	width: calc(60rem /2);
	height: calc(60rem /2);
	border: 1.5rem solid var(--clr-border);
}
.game__pad--tl{
	background-color: var(--clr-normal-green);
	border-top-left-radius: 100%;
}
.game__pad--tr{
	background-color: var(--clr-normal-red);
	border-top-right-radius: 100%;
}
.game__pad--bl{
	background-color: var(--clr-normal-yellow);
	border-bottom-left-radius: 100%;
}
.game__pad--br{
	background-color: var(--clr-normal-blue);
	border-bottom-right-radius: 100%;
}

.game__pad--tl.game__pad--active {
	background-color: var(--clr-light-green);
}
.game__pad--tr.game__pad--active {
	background-color: var(--clr-light-red);
}
.game__pad--bl.game__pad--active {
	background-color: var(--clr-light-yellow);
}
.game__pad--br.game__pad--active {
	background-color: var(--clr-light-blue);
}

.game__pad--btn{
	cursor: pointer;
}

.game__optionshp{
	position: absolute;
	background-color: black;

	width: calc(60rem /2);
	height: calc(60rem /2);
	top: calc(60rem /4);
	left: calc(60rem /4);
	border: var(--game-border);
	border-radius: 25rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
}

.game__optionshp--buttons{
    background-color: var(--clr-center);
    width: 100%;
    height: 50%;
    margin-top: 4%;
    
    border-bottom-left-radius: 25rem;
    border-bottom-right-radius: 25rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

.game__optionshp--btn{
    width: 8.5rem;
	height: 4.5rem;
	font-size: 1.1rem;
	font-weight: bold;	
	
	box-shadow: 0 .2rem .3rem #222;
	border: .4rem solid #444;
	cursor: pointer;   
}
.game__optionshp--btn:active{
	transform: translate(0, .3rem);
	box-shadow: none;
}

.btn__inst{
    margin-left: 1rem;
}

/**********************************/
/* responsividade
/**********************************/

@media (max-width: 480px)
{
	.hp__title{
		font-size: 4rem;   
		margin-bottom: 10;		
	}
  .gamehp {
		width: 30rem;
		height: 30rem;
		margin-top: 2rem;		
	}

	.game__pad{
		width: calc(30rem /2);
		height: calc(30rem /2);		
	}

	.game__pad--btn{
	cursor: none;
}

	.game__optionshp{		
		width: calc(30rem /2);
		height: calc(30rem /2);
		top: calc(30rem /4);
		left: calc(30rem /4);		
	}
	.game__optionshp--input{
		font-size: 0.7rem;
		
	}

	.game__optionshp--btn{
		width: 3.8rem;
		height: 2rem;		
		font-size: 0.4rem;
		font-weight: bold;		
		border-radius: 6px;		
		border: .2rem solid #444;		
		cursor: none;  
	}

	.hp__title--footer{
		font-size: 1.5rem;
		margin-top: 20px;
		margin-left: 2px;
	}

}

@media (min-width: 481px ) and (max-width: 768px)
{
	.hp__title{
		font-size: 6rem;   
		margin-bottom: 10;		
	}
  .gamehp {
		width: 46rem;
		height: 46rem;
		margin-top: 4rem;		
	}

	.game__pad{
		width: calc(46rem /2);
		height: calc(46rem /2);		
	}

	.game__optionshp{		
		width: calc(46rem /2);
		height: calc(46rem /2);
		top: calc(46rem /4);
		left: calc(46rem /4);		
	}
	.game__optionshp--input{
		font-size: 1.2rem;
		
	}

	.game__optionshp--btn{
		width: 7rem;
		height: 2.5rem;
		font-size: 0.9rem;
		font-weight: bold;
		
		border-radius: 6px;		
		border: .2rem solid #444;
		  
	}

	.hp__title--footer{
		font-size: 2rem;
		margin-top: 50px;
		margin-left: 2px;
	}

}

@media (min-width: 769px ) and (max-width: 1024px)
{
	.hp__title{
		font-size: 10rem;   
		margin-bottom: 10;		
	}
  .gamehp {
		width: 65rem;
		height: 65rem;
		margin-top: 4rem;		
	}

	.game__pad{
		width: calc(65rem /2);
		height: calc(65rem /2);		
	}

	.game__optionshp{		
		width: calc(65rem /2);
		height: calc(65rem /2);
		top: calc(65rem /4);
		left: calc(65rem /4);		
	}
	.game__optionshp--input{
		font-size: 1.8rem;
		
	}

	.game__optionshp--btn{
		width: 10rem;
		height: 4.5rem;
		font-size: 1.3rem;
		font-weight: bold;
		
		border-radius: 6px;		
		border: .4rem solid #444;
		  
	}

	.hp__title--footer{
		font-size: 3rem;
		margin-top: 50px;
		margin-left: 2px;
	}

}