.containerhp{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    

    height: 100vh;    

}

.gamehp {
	width: 48rem;
	height: 48rem;

    margin-top: 2rem;

	display: flex;
	flex-wrap: wrap;	
	position: relative;
}

.hp__title{
    font-size: 6rem;   
}
.hp__title--footer{
    font-size: 3rem;
}


.game__pad{
	width: calc(48rem /2);
	height: calc(48rem /2);
	border: 1.5rem solid var(--clr-border);
}
.game__pad--tl{
	background-color: var(--clr-normal-green);
	border-top-left-radius: 100%;
}
.game__pad--tr{
	background-color: var(--clr-normal-red);
	border-top-right-radius: 100%;
}
.game__pad--bl{
	background-color: var(--clr-normal-yellow);
	border-bottom-left-radius: 100%;
}
.game__pad--br{
	background-color: var(--clr-normal-blue);
	border-bottom-right-radius: 100%;
}

.game__pad--tl.game__pad--active {
	background-color: var(--clr-light-green);
}
.game__pad--tr.game__pad--active {
	background-color: var(--clr-light-red);
}
.game__pad--bl.game__pad--active {
	background-color: var(--clr-light-yellow);
}
.game__pad--br.game__pad--active {
	background-color: var(--clr-light-blue);
}

.game__pad--btn{
	cursor: pointer;
}

.game__optionshp{
	position: absolute;
	background-color: black;

	width: calc(48rem /2);
	height: calc(48rem /2);
	top: calc(48rem /4);
	left: calc(48rem /4);
	border: var(--game-border);
	border-radius: 25rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
}
.game__optionshp--input{
    margin-top: 17%;
}

.game__optionshp--buttons{
    background-color: var(--clr-center);
    width: 100%;
    height: 55%;
    margin-top: 20%;
    
    border-bottom-left-radius: 25rem;
    border-bottom-right-radius: 25rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

.game__optionshp--btn{
    width: 7.5rem;
	height: 2.5rem;
	/* margin-left: .2rem; */
	
	box-shadow: 0 .2rem .3rem #222;
	border: .4rem solid #444;
	cursor: pointer;   
}
.game__optionshp--btn:active{
	transform: translate(0, .3rem);
	box-shadow: none;
}

.btn__inst{
    margin-left: 1rem;
}


