body{
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
	background-image: radial-gradient(circle at 100% 0%, #fffed0 0, #fcf5cb 8.33%, #f6e9c5 16.67%, #ecdbbf 25%, #ddccb7 33.33%, #c9bbaf 41.67%, #b0a9a4 50%, #969899 58.33%, #7e898e 66.67%, #697d84 75%, #56747a 83.33%, #476c71 91.67%, #3c6769 100%);
}

/**********************************/
.header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 88%;	
	margin-top: 2rem;
}
.game__title--header{
	font-size: 1.8rem;
}

.return--game{
	width: 9rem;
	height: 4rem;
	
	font-size: 1rem;
	
	box-shadow: 0 .2rem .3rem #222;
	border: .4rem solid #444;
	cursor: pointer;   
}
.return--game:active{
	transform: translate(0, .3rem);
	box-shadow: none;
}
/* 2. Body
/**********************************/
.container {
	width: 48rem;
	margin-left: auto;
	margin-right: auto;
}

/**********************************/
/* 3. Game
/**********************************/
.game {
	width: 48rem;
	height: 48rem;
	display: flex;
	flex-wrap: wrap;
	margin-top: 1rem;
	position: relative;
}
.game__title{
	font-size: 4rem;
	text-transform: uppercase;
	margin: 0;
	padding-left: 1.2rem;
	padding-top: 4.7rem;
    text-align: center;
}

/**********************************/
/* 3.1 Pads
/**********************************/
.game__pad{
	width: calc(48rem /2);
	height: calc(48rem /2);
	border: 1.5rem solid var(--clr-border);
}
.game__pad--tl{
	background-color: var(--clr-normal-green);
	border-top-left-radius: 100%;
}
.game__pad--tr{
	background-color: var(--clr-normal-red);
	border-top-right-radius: 100%;
}
.game__pad--bl{
	background-color: var(--clr-normal-yellow);
	border-bottom-left-radius: 100%;
}
.game__pad--br{
	background-color: var(--clr-normal-blue);
	border-bottom-right-radius: 100%;
}

.game__pad--tl.game__pad--active {
	background-color: var(--clr-light-green);
}
.game__pad--tr.game__pad--active {
	background-color: var(--clr-light-red);
}
.game__pad--bl.game__pad--active {
	background-color: var(--clr-light-yellow);
}
.game__pad--br.game__pad--active {
	background-color: var(--clr-light-blue);
}

.game__pad--btn{
	cursor: pointer;
}

/**********************************/
/* 3.2 Center
/**********************************/

.game__options{
	position: absolute;
	background-color: var(--clr-center);

	width: calc(48rem /2);
	height: calc(48rem /2);
	top: calc(48rem /4);
	left: calc(48rem /4);
	border: var(--game-border);
	border-radius: 25rem;
}

/**********************************/
/* 3.2.1 GUI
/**********************************/

.gui{
	padding-left: 1.5rem;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-end;	
}
.group{
	margin-right: 2.2rem;
}
.group-large{
	display: flex;
	width: 10rem;
	margin-left: 4.5rem;
}

.gui__label{
	font-family: cursive;
	font-weight: bold;
	font-size: 0.75rem;
	text-align: center;
	text-transform: uppercase;
}
.gui__label--switch{
	margin: 0;
	padding-top: 0.75rem;
}
.gui__btn{
	width: 2.5rem;
	height: 2.5rem;
	margin-left: .2rem;
	border-radius: 5rem;
	box-shadow: 0 .2rem .3rem #222;
	border: .4rem solid #444;
	cursor: pointer;
}
.gui__btn:active{
	transform: translate(0, .3rem);
	box-shadow: none;
}
.gui__btn--start{
	background-color: red;
}
.gui__btn--strict{
	background-color: yellow;
}
.gui__btn-switch{
	background-color: #222;
	margin-left: .5rem;
	margin-right: .5rem;
	width: 5rem;
	height: 2.3rem;
	border-radius: .3rem;
	cursor: pointer;
}
.gui__btn-switch::before{
	content: "";
	background-color: var(--clr-switch);
	display: block;
	position: relative;
	left: 2.5rem;
	width: 2.2rem;
	height: 1.9rem;
	border-radius: .3rem;
	border: .2rem solid #333;
}

.gui__btn-switch--on::before{
	left: 0;
}

.gui__counter{
	background-color: var(--clr-counter-bg);
	color: var(--clr-counter-off);
	font-family: cursive;
	font-weight: bold;
	font-size: 3rem;
	text-align: right;
	width: 5.5rem;
	border: .3rem solid #000;
	border-radius: 1rem;
	padding-left: .3rem;
	padding-right: .2rem;
}
.gui__counter--on{
	color: var(--clr-counter-on);
}

.gui__led{
	background-color: #32050C;
	margin-left: 1rem;
	margin-bottom: .5rem;
	width: .8rem;
	height: .8rem;
	border: .2rem solid #222;
	border-radius: 2rem;
}

.gui__led--active {
	background-color: red;
}

/**********************************/
/* 4. Footer
/**********************************/
footer {
	text-align: center;
	margin-top: 2rem;
	margin-bottom: 1.5rem;
	font-size: 3rem;    
}

/**********************************/
/* responsividade
/**********************************/

@media (max-width: 480px)
{	
	.game__title--header{
		font-size: 1.7rem;   
		
	}
	
	.return--game{
		width: 5.5rem;	
		cursor: none; 		  
	}
	/* 2. Body
	/**********************************/
	.container {
		width: 100%;		
	}
	
	/**********************************/
	/* 3. Game
	/**********************************/
	.game {
		width: 100%;
		height: 60rem;
		
		
	}
	.game__title{
		font-size: 1.5rem;		
		padding-left: .2rem;
		padding-top: 1rem;		
	}
	
	/**********************************/
	/* 3.1 Pads
	/**********************************/
	.game__pad{
		width: 50%;
		height: 36%;
		margin: 0;	
		cursor: none;	
	}

	.game__pad--btn{
		cursor: none;
	}
	
	/**********************************/
	/* 3.2 Center
	/**********************************/
	
	.game__options{		
		width: 100%;
		height: 33%;
		top: calc(30rem /4);
		left: calc(30rem /4);
		position: initial;
		border-radius: 0px;		
	}	
	/**********************************/
	/* 3.2.1 GUI
	/**********************************/
	
	.gui{
		padding-left: 1.5rem;
		
	}

	.game__pad--tl{		
		border-top-left-radius: 0;
		cursor: none;
	}
	.game__pad--tr{		
		border-top-right-radius: 0;
		cursor: none;
	}
	.game__pad--bl{		
		border-bottom-left-radius: 0;
		cursor: none;
	}
	.game__pad--br{
		
		border-bottom-right-radius: 0;
		cursor: none;
	}

	.game__pad--tl.game__pad--active {
		cursor: none;
	}
	.game__pad--tr.game__pad--active {
		cursor: none;
	}
	.game__pad--bl.game__pad--active {
		cursor: none;
	}
	.game__pad--br.game__pad--active {
		cursor: none;
	}

	

	.group{
		margin-right: 2.2rem;
	}
	.group-large{		
		width: 8rem;
		margin-left: .5rem;
	}
	
	.gui__label{		
		font-size: 0.75rem;		
	}
	
	.gui__counter{		
		font-size: 4.4rem;
    	width: 8.5rem;
	}	
	
	.gui__btn{		
		cursor: none;
	}

	.gui__btn-switch{		
		cursor: none;
	}
	/**********************************/
	/* 4. Footer
	/**********************************/
	footer {
		text-align: center;
		margin-top: 3.5rem;
		
		font-size: 1.8rem;    
	}

}

@media (min-width: 481px ) and (max-width: 768px)
{
	.game__title--header{
		font-size: 1.8rem;   		
	}
	
	.return--game{
		width: 9.5rem;
		height: 4rem;		  
	}
	/* 2. Body
	/**********************************/
	.container {
		width: 45rem;		
	}
	
	/**********************************/
	/* 3. Game
	/**********************************/
	.game {
		width: 45rem;
		height: 45rem;
		margin-top: 10rem;
		
	}
	.game__title{
		font-size: 2.5rem;		
		padding-left: .2rem;
		padding-top: 2.9rem;		
	}
	
	/**********************************/
	/* 3.1 Pads
	/**********************************/
	.game__pad{
		width: calc(45rem /2);
		height: calc(45rem /2);		
	}
	
	/**********************************/
	/* 3.2 Center
	/**********************************/
	
	.game__options{		
		width: calc(45rem /2);
		height: calc(45rem /2);
		top: calc(45rem /4);
		left: calc(45rem /4);
		
	}


	/* 3.2.1 GUI
	/**********************************/
	
	.gui{
		padding-left: 1.5rem;	
	}
	.group{
		margin-right: .2rem;
	}
	.group-large{		
		width: 8rem;
		margin-left: .5rem;
	}
	
	.gui__label{		
		font-size: 0.75rem;		
	}
	
	.gui__counter{		
		font-size: 1.4rem;		
		width: 3.5rem;
	}	

	
	/**********************************/
	/* 4. Footer
	/**********************************/
	footer {
		text-align: center;
		margin-top: 3.2rem;
		margin-bottom: 4.5rem;
		font-size: 4rem;    
	}

}

@media (min-width: 769px ) and (max-width: 1024px)
{
	.game__title--header{
		font-size: 2.8rem;   		
	}
	
	.return--game{
		width: 10.5rem;
		height: 4rem;		  
	}
	/* 2. Body
	/**********************************/
	.container {
		width: 65rem;		
	}
	
	/**********************************/
	/* 3. Game
	/**********************************/
	.game {
		width: 65rem;
		height: 65rem;
		margin-top: 10rem;
		
	}
	.game__title{
		font-size: 4.5rem;		
		padding-left: .2rem;
		padding-top: 3.9rem;		
	}
	
	/**********************************/
	/* 3.1 Pads
	/**********************************/
	.game__pad{
		width: calc(65rem /2);
		height: calc(65rem /2);		
	}
	
	/**********************************/
	/* 3.2 Center
	/**********************************/
	
	.game__options{		
		width: calc(65rem /2);
		height: calc(65rem /2);
		top: calc(65rem /4);
		left: calc(65rem /4);
		
	}

	
	/**********************************/
	/* 4. Footer
	/**********************************/
	footer {
		text-align: center;
		margin-top: 3.2rem;
		margin-bottom: 4.5rem;
		font-size: 4rem;    
	}


}
 
